@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

:root {
    --azulinho: rgb(7, 60, 151);
    --azulao: rgb(7, 60, 151);
    --marrozinho :rgb(43, 26, 1);
}

* {
    font-family: "Cinzel", serif;
    color: var(--marrozinho);
    font-weight: bold;
}

body {
    background-image: url('../assets/papel.webp');
    background-size: cover;
    background-attachment: fixed;

    margin: 20px 25vh;
}

h1 {
    font-size: 3.4em;
}
h2 {
    font-size: 2.2em;
}
h3 {
    font-size: 1.8em;
}
h4 {
    font-size: 1.3em;
    color: var(--azulinho);
}
p {
    font-size: 1.2em;
    font-weight: normal;
}

strong {
    font-weight: bolder;
    color: var(--azulao);
    font-style: italic;
    font-size: 1.3em;
}

a {
    color: var(--azulinho);
    font-weight: bolder;
}
hr {
    height: 1px;
    background-color: var(--azulinho);
    border-radius: 10px;
    border-color: var(--azulinho);
}